:root {
  --dark-color: #04419c;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffca1a;
  --section-color: #eff7fa;
  --gray-color: rgb(109, 98, 86);
}
body {
  font-family: cursive;
}
.non-bord {
  text-decoration: none;
}
.main-btn {
  background-color: var(--gray-color);
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding: 0.5rem 1rem;
}
.icon-size {
  width: 40px;
  height: 45px;
}
.main-btn:hover {
  color: var(--yellow-color);
}
.main-font-size {
  font-size: 15px;
}
/*Start Navbar*/
.navbar {
  background-color: var(--dark-color);
}
.nav-yellow {
  background-color: var(--yellow-color);
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}
.navbar .navbar-nav .nav-link2 {
  font-size: 14px;
  font-weight: bold;
}
.navbar .navbar-nav .nav-link2.active,
.navbar .navbar-nav .nav-link2:focus,
.navbar .navbar-nav .nav-link2:hover {
  color: black;
}
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .search {
  border-left: 1px solid var(--green-color);
}
.navbar .search svg {
  color: var(--green-color);
}
/*End Navbar*/

/*Start landing*/
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}
/*End landing*/
/*Start Services*/
.services {
  background-color: var(--dark-color);
}
.services a {
  text-decoration: none;
}
/*End Services*/
/*Start Blog*/
.blog .card a {
  text-decoration: none;
  color: var(--gray-color);
  left: 0;
}
/*End Blog*/
.points {
  background-color: var(--dark-color);
}
.points a {
  text-decoration: none;
}
.blog a {
  text-decoration: none;
}
/*Start Features*/
.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder .icon {
  color: var(--green-color);
}
.features .feat h4 {
  color: var(--yellow-color);
}
.features p {
  color: var(--gray-color);
  font-size: 30px;
  font-weight: bold;
}
/*End Features*/
/*Start Our Work*/
.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: var(--red-color);
}
.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: rgb(51 209 204 / 76%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  transition: 0.3s;
  font-size: 1.5rem;
  transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before {
  transform: translateX(0);
}
/*End Our Work*/
/*Start Stuff*/
.stuff .description {
  max-width: 500px;
}
/*End Stuff*/
/*Start Project*/
.project {
  background-color: var(--dark-color);
}
/*End Project*/
/*Start Subscribe*/
.subscribe {
  background-color: var(--yellow-color);
}
.subscribe input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus {
  outline: none;
}
.subscribe::placeholder {
  color: white;
}
.points .accordion .accordion-header {
  background-color: var(--yellow-color);
}
.subscribe input[type="submit"] {
  background-color: var(--dark-color);
  color: var(--yellow-color);
}
.scroll-div {
  width: 516px;
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}
.scroll-div-big {
  width: 530px;
  max-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}
.accordion-body:hover {
  background-color: var(--yellow-color);
  color: white;
}
.bord {
  border-radius: 8px;
  margin: 8px;
  background-color: rgb(230, 222, 222);
}
/*End Subscribe*/
.points .accordion .accordion-button {
  background-color: var(--yellow-color);
  border-color: var(--gray-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
}
/*Start Footer*/
.footer {
  background-color: var(--gray-color);
}
.footer .row ul svg {
  width: 50px;
  height: 50px;
}
.footer .facebook {
  background-color: #1877f2;
}
.footer .twitter {
  background-color: #1da1f2;
}
.footer .linkedin {
  background-color: #0077b5;
}
.fooer {
  display: flex;
  justify-content: space-around;
}
.footer .youtube {
  background-color: #ff0000;
}

.footer .snapchat {
  background-color: var(--yellow-color);
}

/*End Footer*/
